$primaryFont: (
  ('Nunito Sans')
);

$secondaryFont: ('Halant');

html {
  font-size: 62.5%;
  font-family: $primaryFont;
  background-color: #211a23;

}

.number {
  font-family: $primaryFont;
  font-size: clamp(1.8rem, 3vw, 2.5rem);
}

h1, h2, h3 {
  font-family: $secondaryFont;
}