.restaurantDetails {
    border: 2px solid #E65619;
    padding: 10px;
    
    h3 {
        font-size:clamp(3.8rem, 5vw, 5.5rem);
        text-transform: uppercase;
        letter-spacing: 3px;
        position: relative;
        color: whitesmoke;
        border-bottom: 1px solid #EB7847;
    }
    p {
        font-size:clamp(1.8rem, 3vw, 1.5rem);
        margin: 10px 0px;
    }
}
